body {
    background-color: #DF9B5A;
}

h1 {
    text-align: center;
    font-size: 70px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

p {
    text-align: center;
    font-size: 34px;
    width: 1400px;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    margin-right: 50px;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    background-color: white;
    width: 400px;
}

#options:hover {
    translate: -10px -10px;
    box-shadow: 10px 10px;
    cursor: pointer;
}

#options:active {
    translate: 0px 0px;
    box-shadow: none;
}

#menuitems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

img {
    width: 400px;
    height: 300px;
}

#itempageimg {
    width: 600px;
    height: 600px;
    margin-bottom: -20px;
}

#flexdiv {
    display: flex;
    justify-content: center;
}

#content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

ul {
    font-size: 34px;
    margin-top: -20px;
}