body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}



header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    background-color :rgb(255, 189, 239);
}

nav {
    display: flex;
}

nav > a {
    padding: 15px;
    text-decoration: none;
    color: coral;
    transition: color 100ms ease;
}
nav > a:hover {
    color: rgb(247, 85, 26);
}
nav > a:active {
    color: rgb(255, 60, 60);
}
nav > a.current-page {
    color: rgb(58, 176, 255)
}

header > a {
    text-decoration: none;
    margin-left: 15px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}

header h1 {
    margin: 0px;
}